%div#absolute-wrapper
  %img.image{:src =>"atx.jpg"}
%div.container.container-1
  %div.row-fluid
    %span.span3
      %div.well
       %ul.nav.nav-list
        %li.active
          %a.a-1{:href =>"#"} Available for Hire
         %li
          %a.a-1{:href =>"#"} Available to Mentor
         %li
          %a.a-1{:href =>"#"} Seeking Developers
         %li
          %a.a-1{:href =>"#"} Seeking CoFounders     
    %span.span9
      %img.image{:src => "http://placehold.it/850x300"}
      %div.dom-body-text.paragraph#dom-elem-32      
.container#maincontainer
  .content#maincontent
    .row#mainrow
      .span12#mainspan
        %h3 MakerSquare Students
        - if @students
          - @students.each do |student|
            
            - profile = Linkedin::Profile.get_profile(student.linkedin)
            
            %div.float-left
              %div.float-left
                - if (profile)
                  %div.linkedin-img{:style => "margin-right: 15px"}
                    %img.shadow{:src => profile.picture}
              %div
                %p
                  = link_to "#{student.first_name} #{student.last_name}", student
        - else
          Where did all our students go? Check your database!
        %br


