%div#map_canvas{ :style => "height:600px; width:600px;"}
.container#maincontainer
  .content#maincontent
    .row#mainrow
      .span12#mainspan
        %h3 MakerSquare Students
        - if @students
          - @students.each do |student|
            
            - profile = Linkedin::Profile.get_profile(student.linkedin)
            
            %div.float-left
              %div.float-left
                - if (profile)
                  %div.linkedin-img{:style => "margin-right: 15px"}
                    %img.shadow{:src => profile.picture}
              %div
                %p
                  = link_to "#{student.first_name} #{student.last_name}", student
        - else
          Where did all our students go? Check your database!
        %br


