%div.container-fluid.container-fluid-1
  %div.container
    %div.row-fluid
      %span.span12
        %h2.heading mkdir
        %p Connecting Developers
        - if user_signed_in?
          %a{:href => destroy_user_session_path}
            %button.btn.btn-large Logout
        - else
          %a{:href => new_user_session_path}
            %button.btn.btn-large Login

%div.container.container-1
  %div.row-fluid
    %span.span4
      %h2.heading Alumni
      %p Build your profile, promote your portfolio,&nbsp;catch up with former&nbsp;alumni, mentor&nbsp;current students, and explore career opportunities.

    %span.span4
      %h2.heading Hiring Partners
      %p Get involved with MakerSquare, showcase your company, connect with&nbsp;Rails developers, and post current employment&nbsp;opportunities.

    %span.span4
      %h2.heading Prospects
      %p Interested in MakerSquare? View our&nbsp;student&nbsp;showcase to learn more about how we can help you start and advance your development career.
  %div.container-fluid.container-fluid-2
    %div.container
      %div.row-fluid
        %span.span7
          %div.page-header
            %h1 Lifelong Learning 
            %small
              %br for digital craftspersons
          %p At MakerSquare, we continuously are updating and refining our&nbsp;immersive learning curriculum to help you accelerate your journey to coding mastery. Explore our online learning opportunities to take your craft to the next level.
        %span.span5
          %img.pull-right.image{:src => 'assets/learn.png'}
         