%div.container.container-1#banner
  %div.row-fluid
    %div.corner-padded
      %span.span3
        %div.well
          %ul.nav-list-header
          %ul.nav.nav-list
            %li
              %a{:href =>"#"} Available for Hire
            %li
              %a{:href =>"#"} Available to Mentor
            %li
              %a{:href =>"#"} Seeking Developers
            %li
              %a{:href =>"#"} Seeking CoFounders     
      %span.span9
        %ul.breadcrumb
          %li
            %a{:href =>"#"}
              .icon.icon-home
          %li
            %a{:href =>"#"} Alumni
          / %li
          /   %a{:href =>"#"} Mentors
          / %li
          /   %a{:href =>"#"} Hiring Partners 
        
        = render 'map'
        = render 'search_form'
        = render 'profiles_list'

.container#maincontainer
  .content#maincontent
    .row#mainrow