#page-wrapper
  #absolute-wrapper
    .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-4.rectangle-26
    .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-6.rectangle-7.rectangle-8
      .paragraph.paragraph-17.paragraph-18.paragraph-19.paragraph-20.paragraph-21
        %p hiring partners
    .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-6.rectangle-7.rectangle-27
      .paragraph.paragraph-17.paragraph-18.paragraph-19.paragraph-20.paragraph-21
        %p makersquare alumni
    .rectangle.rectangle-2.rectangle-3.rectangle-9.rectangle-10.rectangle-28
      %h1.dom-heading.dom-heading-1 WHAT HAVE OUR DEVS BUILT?
      .paragraph.paragraph-1.paragraph-22
        %p Our grads are skilled in front end design and back end development. Click here to view a project showcase from recent cohorts.
      .rectangle.rectangle-3.rectangle-11.rectangle-12.rectangle-29
        %i.icon.icon-cogs
      %h1.dom-heading.dom-heading-2 GET INVOLVED
      .rectangle.rectangle-3.rectangle-11.rectangle-12.rectangle-30
        %i.icon.icon-check
      .paragraph.paragraph-2
        %p Showcase your company, connect with developers, and post current employment opportunities.
    .rectangle.rectangle-2.rectangle-3.rectangle-9.rectangle-10.rectangle-13.rectangle-14
      .paragraph.paragraph-19.paragraph-21.paragraph-22.paragraph-23
        %p
          %span We are preparing world-class innovators to develop elegant solutions to real world problems. Click here to learn more about our immersive curriculum.
      .rectangle.rectangle-5.rectangle-12.rectangle-15.rectangle-31
        %i.icon.icon-off
      .rectangle.rectangle-5.rectangle-12.rectangle-15.rectangle-32
        %i.icon.icon-globe
      %i.icon.icon-chevron-right
    .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-10.rectangle-16.rectangle-17
      .rectangle.rectangle-2.rectangle-10.rectangle-13.rectangle-17.rectangle-18.rectangle-19.rectangle-20
        .paragraph.paragraph-3.paragraph-9
          %p STEP 
        .paragraph.paragraph-4.paragraph-10
          %p 1
      .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-10.rectangle-20.rectangle-21
        .rectangle.rectangle-1.rectangle-3.rectangle-7.rectangle-12.rectangle-22
          %i.icon.icon-linkedin-sign
        .paragraph.paragraph-11.paragraph-12
          %p UPDATE YOUR PROFILE:
          %p Showcase your work, connect your account to your social media profiles, and let the community know the value of your skill set.
      .rectangle.rectangle-1.rectangle-2.rectangle-3
      .rectangle.rectangle-2.rectangle-17.rectangle-18.rectangle-19.rectangle-20.rectangle-23
        .paragraph.paragraph-5.paragraph-9
          %p STEP 
        .paragraph.paragraph-6.paragraph-10
          %p 2
      .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-20.rectangle-21.rectangle-23
        .rectangle.rectangle-1.rectangle-3.rectangle-7.rectangle-12.rectangle-22
          %i.icon.icon-search
        .paragraph.paragraph-11.paragraph-12.paragraph-13
          %p FIND OPPORTUNITIES:
          %p Search for mentors and career opportunities, network for referrals, and learn more about our hiring partners.
      .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-20.rectangle-21.rectangle-24
        .rectangle.rectangle-1.rectangle-3.rectangle-7.rectangle-12.rectangle-22
          %i.icon.icon-group
        .paragraph.paragraph-11.paragraph-12.paragraph-13
          %p BUILD COMMUNITY:
          %p Catch up with former alumni, volunteer your time to mentor current students, and help build up the MakerSquare community.
      .rectangle.rectangle-2.rectangle-17.rectangle-18.rectangle-20.rectangle-24.rectangle-25
        .paragraph.paragraph-7.paragraph-9
          %p STEP 
        .paragraph.paragraph-8.paragraph-10
          %p 3
          %p  
      .paragraph.paragraph-12.paragraph-14.paragraph-15
        %p BE PASSIONATE - BE TENACIOUS - BE CURIOUS - BE PATIENT - THINK CRITICALLY
      .paragraph.paragraph-12.paragraph-14.paragraph-16
        %p We work with development teams in Austin and tech hubs around the country to line up interviews, internships and apprenticeships for MakerSquare grads.
    .paragraph.paragraph-18.paragraph-19.paragraph-24.paragraph-27
      %p real world solutions
    .rectangle.rectangle-2.rectangle-3.rectangle-14.rectangle-16.rectangle-25
      .paragraph.paragraph-18.paragraph-19.paragraph-24.paragraph-25
        %p lifelong learning
      .paragraph.paragraph-17.paragraph-18.paragraph-19.paragraph-25
        %p reboot your career
      %i.icon.icon-book
      %i.icon.icon-undo
      .paragraph.paragraph-19.paragraph-23.paragraph-26
        %p
          %span We are continuously updating and refining our learning curriculum to accelerate your journey towards coding mastery. Explore our online resources to take your craft to the next level.
      .paragraph.paragraph-19.paragraph-26.paragraph-28
        %p
          %span Learn more about the transitions made by our students to begin their development careers. MakerSquare will help you start your journey as a web developer in 10 immersive weeks.
    .rectangle.rectangle-2.rectangle-3.rectangle-5.rectangle-6.rectangle-8.rectangle-33
      .paragraph.paragraph-17.paragraph-18.paragraph-19.paragraph-20.paragraph-21
        %p prospective students
    .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-4.rectangle-34