%div.container-fluid.container-fluid-1
  %div.container
    %div.row-fluid
      %span.span12
        %h2.heading mkdir
        %p Connecting Developers
        - if user_signed_in?
          = link_to '<button class="btn btn-large">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete'
        - else
          %a{:href => new_user_session_path}
            %button.btn.btn-large Login
= render 'alt_description'

         