/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
*/

@import "font-awesome";
@import url('http://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Open Sans|Raleway|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700');
/*
  Common styles and overrides. Will be exported with the zip file download.
*/

/* Make fonts behave on Macs */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Make Icons look better */
[class^="icon-"]::before, [class*=" icon-"]::before {
  vertical-align: baseline;
  line-height: 1em;
  color: inherit;
}
i.icon{
  text-align: center;
  background-image: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
}

/* Centering elements */
body .pull-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .navbar {
   height: 60px;
 }
 #nav {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.navbar .btn-group .btn{ 
  color: #000000;
  margin-right: 156px;
  text-align: left;
}

.user_pic{ 
  height: 10%;
  width: 10%;
}


 .navbar .navbar-inner {
   border: none;
   background: #34495e;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .responsive-container .brand {
   margin: 0px;
   background: rgba(0, 0, 0, 0) url('source.png') no-repeat 20px 20px;
   background-size: auto;
   padding: 30px 200px 30px 20px;
 }
 .navbar .navbar-inner .responsive-container .nav-collapse.collapse .nav li a {
   padding: 20px;
   text-shadow: none;
   background-size: auto;
   color: #ffffff;
 }
 .container-fluid.container-fluid-1 {
   background: #000000 url('source-1.png') no-repeat 0px 0px;
   background-size: cover;
   height: 300px;
 }
 .container-fluid-1 .container {
   margin-top: 30px;
   margin-bottom: 170px;
 }
 .container-fluid-1 .container .row-fluid .span12 {
   padding: 0px 0px 0px 15px;
 }
 .container-fluid-1 .container .row-fluid .span12 .heading {
   font-size: 58px;
   color: #ffffff;
   line-height: 64px;
   margin: 30px 0px 10px 0px;
 }
 .container-fluid-1 .container .row-fluid .span12 p {
   padding: 0px 0px 10px 0px;
   font-size: 17px;
   color: #ffffff;
 }
 .container.container-1 {
   margin-top: 60px;
 }
 .container-1 .row-fluid .span4 .heading {
   font-weight: normal;
   font-size: 29px;
   text-align: center;
   color: #454545;
 }
 .container-1 .row-fluid .span4 p {
   font-weight: 300;
   font-size: 16px;
   text-align: center;
   line-height: 25px;
 }
 .container-fluid.container-fluid-2 {
   background: #f8f8f8;
   border-top: 1px solid #ededed;
   border-right: none;
   border-left: none;
   border-bottom: 1px solid #ededed;
   margin-top: 60px;
   padding: 60px 20px 60px 35px;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header {
   padding: 0px;
   border: none;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header h1 {
   font-weight: normal;
   font-size: 42px;
   color: #555555;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header h1 small {
   line-height: 42px;
   font-size: 36px;
 }
 .container-fluid-2 .container .row-fluid .span7 p {
   font-weight: 300;
   font-size: 19px;
   line-height: 30px;
 }
 .container-fluid-2 .container .row-fluid .span5 .image {
   margin: 0px 25px 0px 0px;
   height: 300px;
   width: 300px;
 }
 .container-fluid.container-fluid-3 {
   padding: 10px 0px 0px 0px;
   background: #34495e;
 }

 .container-fluid-3 .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid-3 .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .container-fluid-3 .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #ffffff;
 }
  body {
   padding-left: 0;
   padding-right: 0;
 }
 .navbar {
   height: 60px;
 }
 .navbar .navbar-inner {
   border: none;
   background: #34495e;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .responsive-container .brand {
   margin: 0px;
   background: rgba(0, 0, 0, 0) url('source.png') no-repeat 20px 20px;
   background-size: auto;
   padding: 30px 200px 30px 20px;
 }
 .navbar .navbar-inner .responsive-container .nav-collapse.collapse .nav li a {
   padding: 20px;
   text-shadow: none;
   color: #ffffff;
 }
 .container-fluid.container-fluid-1 {
   background: #000000 url('source-1.png') no-repeat 0px 0px;
   background-size: cover;
   height: 300px;
 }
 .container-fluid-1 .container {
   margin-top: 30px;
   margin-bottom: 170px;
 }
 .container-fluid-1 .container .row-fluid .span12 {
   padding: 0px 0px 0px 15px;
 }
 .container-fluid-1 .container .row-fluid .span12 .heading {
   font-size: 58px;
   color: #ffffff;
   line-height: 64px;
   margin: 30px 0px 10px 0px;
 }
 .container-fluid-1 .container .row-fluid .span12 p {
   padding: 0px 0px 10px 0px;
   font-size: 17px;
   color: #ffffff;
 }
 .container.container-1 {
   margin-top: 60px;
 }
 .container-1 .row-fluid .span4 .heading {
   font-weight: normal;
   font-size: 29px;
   text-align: center;
   color: #454545;
 }
 .container-1 .row-fluid .span4 p {
   font-weight: 300;
   font-size: 16px;
   text-align: center;
   line-height: 25px;
 }
 .container-fluid.container-fluid-2 {
   background: #f8f8f8;
   border-top: 1px solid #ededed;
   border-right: none;
   border-left: none;
   border-bottom: 1px solid #ededed;
   margin-top: 60px;
   padding: 60px 20px 60px 35px;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header {
   padding: 0px;
   border: none;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header h1 {
   font-weight: normal;
   font-size: 42px;
   color: #555555;
 }
 .container-fluid-2 .container .row-fluid .span7 .page-header h1 small {
   line-height: 42px;
   font-size: 36px;
 }
 .container-fluid-2 .container .row-fluid .span7 p {
   font-weight: 300;
   font-size: 19px;
   line-height: 30px;
 }
 .container-fluid-2 .container .row-fluid .span5 .image {
   margin: 0px 25px 0px 0px;
   height: 300px;
   width: 300px;
 }

 .container-fluid-3 .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid-3 .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .container-fluid-3 .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #ffffff;
 }

.shadow {
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px#888;
  box-shadow: 3px 3px 5px #888;
  
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

#wrap {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

#footer {
    height: 60px; /* Define height of the footer */
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
    background: #34495e;
}

#main {
    padding-bottom: 60px; /* This should match the height of the footer */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
