// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-left: 0;
  padding-right: 0;
}
#dir {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 479px;
  background: url("atx.jpg");
  background-size: cover;
}
#display_table_image{
  padding-left: 40px;
}
#map_canvas{
  width: 720px;
  height: 375px;
  position: fixed;
  background-color: black;
  overflow: hidden;
}

/*Breadcrumb Navigation with CSS Triangles: http://css-tricks.com/triangle-breadcrumbs/*/

.breadcrumb { 
  list-style: none;
  overflow: hidden;
  font: 14px Helvetica, Arial, Sans-Serif;
  width: 720px;
  background-color: #34495e;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0;
  margin: 0; 
}

.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 55px;
  background-color: #34495e;
  background: hsla(34,85%,35%,1); 
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(34,85%,35%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}
.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}
.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }

.container.container-1 {
 margin-bottom: 60px;
 margin-top: 30px;
}

.container-1 .row-fluid .span3 .well {
  padding: 0px;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #f0f0f0;
  border-right: none;
  border-bottom: 1px solid #f0f0f0;
  border-left: none;
}
.container-1 .row-fluid .span3 .well .nav {
  padding: 0px;
}
.container-1 .row-fluid .span3 .well .nav li a {
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ebebeb;
  border-left: none;
}
.container-1 .row-fluid .span3 .well .nav li a.a-1 {
  margin: 0px;
}

.container-1 .row-fluid .span3 .well .nav .active a {
  margin: 0px -1px 0px -1px;
}

.container-1 .row-fluid .span9 {
  padding: 0px 0px 0px 20px;
}
.container-1 .row-fluid .span9 .image {
  border-radius: 2px;
  margin: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  height: 600px;
  width: 680px;
}
.container-fluid {
  background: #333333;
  padding: 30px 20px 30px 20px;
}
.container-fluid .container .row-fluid .span12 .pull-left p {
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
.container-fluid .container .row-fluid .span12 .nav {
  margin: 0px;
}
.container-fluid .container .row-fluid .span12 .nav li a {
  text-align: center;
  color: #cccccc;
}
.container.container-1 .row-fluid{
   padding-top: 60px;
   padding-left: 60px;
 }
 .container-1 .row-fluid .span12 div.div-1 {
   border-radius: 0px;
   border: none;
   width: 642.0265159606934px;
 }
 .container-1 .row-fluid .span12 div.div-2 {
   margin: 0px 0px 60px 0px;
 }
 .container-1 .row-fluid .span12 .div-2 .page-header {
   padding: 0px;
   margin-bottom: 10px;
   background: #000000;
 }
 .container-1 .row-fluid .span12 .div-2 .page-header h1 {
   font-weight: normal;
   font-size: 42px;
   color: #555555;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-3 {
   background: rgba(0, 0, 0, 0.941176);
   margin: 0px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-3 .heading {
   font-family:"raleway";
   color: #ffffff;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 {
   background: #34495e;
   height: 505px;
   border-bottom-right-radius: 10px; 
   border-bottom-left-radius: 10px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .image {
   border-radius: 2px;
   margin: 20px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .badge-info {
   padding: 5px 9px 5px 9px;
   font-size: 14px;
   text-align: center;
   line-height: 15px;
   border-radius: 20px;
   margin: 20px 20px 0px 0px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .hero-unit {
   height: 30px;
   width: 521px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .hero-unit .heading.heading-1 {
   font-size: 30px;
   color: #34495e;
   margin-top: -40px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .hero-unit p {
   font-size: 15px;
   line-height: 21px;
   font-weight: normal;
   margin: -7px;
 }
  .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .hero-unit .btns a {
   color: #ffffff;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 p.p-1 {
   font-weight: 300;
   font-size: 16px;
   color: #ffffff;
   line-height: 25px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .table tbody tr td {
   color: #ffffff;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .table tbody tr td a {
   color: #ffffff;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-rss {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-github {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-linkedin-sign {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-twitter-sign {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-google-plus-sign {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-facebook-sign {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
 .container-1 .row-fluid .span12 .div-2 .well.div-1.div-4 .well .icon.icon-pinterest-sign {
   font-size: 30px;
   color: #34495e;
   height: 30px;
   width: 30px;
 }
.corner-padded {
  padding-top: 60px;
  padding-left: 60px;
}
.display_table{
  width: 720px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-image: linear-gradient(bottom, rgb(255,255,255) 34%, rgb(161,217,255) 100%, rgb(144,196,230) 84%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 34%, rgb(161,217,255) 100%, rgb(144,196,230) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 34%, rgb(161,217,255) 100%, rgb(144,196,230) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 34%, rgb(161,217,255) 100%, rgb(144,196,230) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 34%, rgb(161,217,255) 100%, rgb(144,196,230) 84%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(255,255,255)),
    color-stop(1, rgb(161,217,255)),
    color-stop(0.84, rgb(144,196,230))
  );
}




.display_table tr{
}
.display_table tbody tr:hover {
  background-color: #c9e9ff;
}

/*The display table is 720px wide with 5 columns. To add another column, adjust column width accordingly */
.display_table td {
  width: 144px;
  height: 60px;
}

.navbar .navbar-fixed-top{
  margin-bottom: 0px;
}

.no-hover a:hover{
  text-decoration: none;
  background-color: transparent;
}
.results {
  margin-top: 85px;
  background: #34495e;
  border-top: 1px solid #34495e;
  padding: 0px 0px 0px 30px;
  color: #ffffff;
  line-height: 24px;
  width: 690px;
}

.tabs {
  position: relative;
  clear: both;
}
.tab {
  float: left;
  background: url('tab.png') repeat-x;
  margin-top: -22px;

}
.tab label {
  background: url("bgd-search-bar-tab-inactive.gif");
  padding: 0 10px; 
  margin-left: -1px;
  margin-right: 4px;
  color:#1C435C;
  font-size: 14px;
  line-height: 21px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;
  clear:both;   
}
.tabs .content {
  margin-top: -5px;
  position: absolute;
  width: 660px;
  left: 0;
  background: #064A7D;
  background: url("bgd-search-bar.jpg") #3B89B8;
  right: 0;
  border-bottom: 1px solid #032E4E;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #1B435B;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.28);

}
[type=radio]:checked ~ label {
  color: white;
  background: url("bgd-search-bar-tab-active.gif");
  font-weight: bold;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}





